<div class="row">
  <h2>Educacion</h2>
  <div class="col-lg-11">
    <ul>
      <li>
        <h3>Trabajo 1</h3>
        -
        <h4>años</h4>
      </li>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam, odio.
        Doloremque illum omnis ad beatae, totam sint voluptatibus ipsa earum
        molestias ex tempore porro, aliquid consequatur harum odit dignissimos
        labore.
      </p>
    </ul>
    <ul>
      <li>
        <h3>Trabajo 1</h3>
        -
        <h4>años</h4>
      </li>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam, odio.
        Doloremque illum omnis ad beatae, totam sint voluptatibus ipsa earum
        molestias ex tempore porro, aliquid consequatur harum odit dignissimos
        labore.
      </p>
    </ul>
    <ul>
      <li>
        <h3>Trabajo 1</h3>
        -
        <h4>años</h4>
      </li>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam, odio.
        Doloremque illum omnis ad beatae, totam sint voluptatibus ipsa earum
        molestias ex tempore porro, aliquid consequatur harum odit dignissimos
        labore.
      </p>
    </ul>
  </div>
</div>
