<div class="row">
  <h2>Hard & Soft skills</h2>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <!-- You can now use it in app.component.html -->
    <circle-progress
      [percent]="95"
      [radius]="100"
      [imageSrc]="'../../../assets/img/html.png'"
      [showImage]="true"
      [imageHeight]="90"
      [imageWidth]="90"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'orange'"
      [innerStrokeColor]="'grey'"
      [animation]="true"
      [animationDuration]="600"
      [lazy]="false"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <!-- You can now use it in app.component.html -->
    <circle-progress
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../../../assets/img/css.png'"
      [showImage]="true"
      [imageHeight]="90"
      [imageWidth]="90"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'blue'"
      [innerStrokeColor]="'grey'"
      [animation]="true"
      [animationDuration]="600"
      [lazy]="false"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <!-- You can now use it in app.component.html -->
    <circle-progress
      [percent]="70"
      [radius]="100"
      [imageSrc]="'../../../assets/img/js.jpg'"
      [showImage]="true"
      [imageHeight]="90"
      [imageWidth]="90"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'yellow'"
      [innerStrokeColor]="'grey'"
      [animation]="true"
      [animationDuration]="600"
      [lazy]="false"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <!-- You can now use it in app.component.html -->
    <circle-progress
      [percent]="75"
      [radius]="100"
      [imageSrc]="
        '../../../assets/img/java_original_wordmark_logo_icon_146459.png'
      "
      [showImage]="true"
      [imageHeight]="90"
      [imageWidth]="90"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'red'"
      [innerStrokeColor]="'grey'"
      [animation]="true"
      [animationDuration]="600"
      [lazy]="false"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <!-- You can now use it in app.component.html -->
    <circle-progress
      [percent]="100"
      [radius]="100"
      [imageSrc]="'../../../assets/img/git.png'"
      [showImage]="true"
      [imageHeight]="90"
      [imageWidth]="90"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'black'"
      [innerStrokeColor]="'grey'"
      [animation]="true"
      [animationDuration]="600"
      [lazy]="false"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <!-- You can now use it in app.component.html -->
    <circle-progress
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../../../assets/img/Bootstrap.png'"
      [showImage]="true"
      [imageHeight]="90"
      [imageWidth]="90"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'violet'"
      [innerStrokeColor]="'grey'"
      [animation]="true"
      [animationDuration]="600"
      [lazy]="false"
    ></circle-progress>
  </div>
</div>
